button {
    /* align-items: center; */
    background-color:rgb(56, 56, 144);
    border: 1px solid rgb(56, 56, 144);
    padding: 10px;
    font-size: 20px;
    border-radius: 20px;
    color: aliceblue;
}
ol {
    
}

ol img {
    border: 2px solid black;
}
ol li {
    padding: 50px;
    list-style: none;
}
.delete {
    background-color: red;
    border: 1px solid red;
}